@import url('../styles/commons.css');

.subtitle1 {
    color: var(--scheme-primary);
    text-align: center;
}
.label1 {
    color: var(--blue-700);
}
.subtext {
    color: var(--scheme-sub-text);
    text-align: center;
}

.about-info {
    padding: 96px 0;
    background-color: var(--blue-0);
}
.partners-info {
    padding: 96px 0;
}
.team-info {
    padding: 72px 0;
}
.about-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}
.about-buttons button {
    width: 210px;
}
.team-ctn {
    background-color: var(--blue-0);
}

#company-img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

