@charset "utf-8";
@import url("../styles/commons.css");


.explore-topic-page .explore-topic{
    z-index: -9;

}

@media (min-width: 768px) {
    .explore-topic-page .explore-topic .list-post > .blog-post-card {
      flex-basis: calc(33.33% - 16px); /* Adjust the gap between columns */
    }

    .explore-topic-page .explore-topic .list-author > .col {
        flex-basis: calc(50% - 20px); /* Adjust the gap between columns */
      }
}

.explore-topic-page a{
    text-decoration: none;
}
  