@charset "utf-8";
@import url("../styles/commons.css");


.profile-background {
    background-image: linear-gradient(var(--scheme-background), var(--scheme-secondary));
    height: 240px;
    width: 100%;
    margin-top: -80px;
    z-index: 1;
}

.profile .avatar-ctn {
    margin-top: -40px;
    width: 160px;
    height: 160px;
    border: 5px solid var(--scheme-background);
    border-radius: 50%;
}

.profile .fullname {
    color: var(--black);
}

.delete-dropdown {
    color: var(--feedback-error);
}