@import url('../styles/commons.css');

.ql-container.ql-snow {
    border: none !important; /* Removes borders from toolbar and container */
    box-shadow: none !important; /* Remove shadows */
}

.highlight {
    background-color: var(--scheme-secondary); 
}

.popover {
    position: absolute;
    padding: 8px;
    z-index: 500; /* Make sure it's above other content */
    outline: none;
    border: none;
}

  
