@import url('../styles/commons.css');

.description {
    font-family: medium-font;
    color: var(--scheme-sub-text);
    font-size: 24px;
}

#like-btn, #comment-btn, .bookmard-icon, #share-btn {
    background: none;
    border: none;
    color: var(--scheme-sub-text);
    line-height: 24px;
    align-items: center;
}

.highlight {
    background-color: var(--scheme-secondary); 
}
