@charset "utf-8";
@import url("../styles/commons.css");

.search-result-page .search-result{
    z-index: -9;
}

@media (min-width: 768px) {
    .search-result-page .search-result .list-post .blog-post-card {
      width: calc(33.33% - 25px); /* Adjust the gap between columns */
    }

    .search-result-page .search-result .list-author .author-horizontal {
      width: calc(50% - 20px) !important;
    }
}

.search-result-page a{
    text-decoration: none;
}
  