@charset "utf-8";
@import url("../styles/commons.css");

.search-page .search-bar #search-input:focus-within{
    box-shadow: none;
    background-color: var(--blue-50);
}

.search-page .search-section{
    z-index: 1000
}

.search-page .search-recent:hover{
    background-color: var(--blue-100);
}

.search-page .search-recent button:focus-within{
    border:none
}