@charset "utf-8";
@import url("../styles/commons.css");

.writing-page .toolbar button{
  padding: 1rem 3rem;

}

.writing-page .toolbar .button2.border-left{
  border-left: 2px solid var(--neutral-50) !important
}


.modal-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.modal-popup {
  background: var(--white);
  padding: 2rem;
  border-radius: 8px;
  width: 40rem;
  height: auto;
  text-align: center;
}

.modal-popup .form-group label {
  display: block;
  font-family: semibold-font;
  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
  text-align: left;
}

.modal-popup .form-group > input,
.modal-popup .form-group > div > div > input {
  width: 100%;
  height:2.3rem;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.modal-popup .form-group input:focus-within,
.modal-popup .form-group input:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: var(--scheme-primary);
  border-width: 1.9px;
  outline: none !important;
}

.modal-popup .form-row {
  display: flex;
  justify-content: space-between;
}

.modal-popup .checkbox input{
  width: 16px;
  height: 16px;
}

.modal-popup .checkbox label {
  margin-left: 5px;
  font-family: regular-font;
  font-size: 14px;
}

.modal-popup .image-input-container {
  max-height: 10rem;
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.modal-popup .date-picker{
  font-family: regular-font;
  font-size: 16px;
  color: var(--neutral-900);
  width: 31% !important;
  float: left;
}

@media (min-width: 768px) {
  .modal-popup .btn{
    flex-basis: calc(33.33% - 16px); /* Adjust the gap between columns */
    flex-grow: 0;
  }
}

.modal-popup .image-preview{
  width: 70%;
  height: 8rem;
}

.modal-popup .preview-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


  