@charset "utf-8";
@import url("../../styles/commons.css");

.navbar-brand {
    color: var(--scheme-primary);
    font-family: bold-font;
    font-size: 30px;
    text-decoration: none;
}

.nav-item {
    display: flex;
    align-items: center; 
}

.nav .navbar-nav li a.blue-500 {
    color: var(--scheme-primary)
}

.dropdown-menu{
    z-index: 1200;
    position: relative;
}