@charset "utf-8";
@import url("../../styles/commons.css");

.bookmark-modal-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .bookmark-modal {
    background: var(--white);
    padding: 55px 50px;
    border-radius: 8px;
    width: 480px;
    position: relative;
    text-align: center;
  }
  
  .bookmark-modal .form-row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .bookmark-modal .checkbox input{
    width: 16px;
    height: 16px;
  }

  .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #8D90A4;
}