@charset "utf-8";
@import url("../styles/commons.css");

.report-response-overlay {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  .report-response {
    background: var(--white);
    padding: 55px 50px;
    border-radius: 8px;
    width: 480px;
    position: relative;
    text-align: center;
  }
  
