@charset "utf-8";
@import url("../../styles/commons.css");

.highlight-card {
    border: 1px solid var(--neutral-100);
    border-radius: 15px;
    cursor: default;
}

.highlight-card.library {
    width: 49%;
    max-width: 100%;
}

@media screen and (max-width: 768px){
    .highlight-card.library {
        width: 100%;
    }
}

.highlight-card .content mark {
    background-color: var(--blue-100);
}

