@charset "utf-8";

/*--Colors--*/
:root {
    --black: #000;
    --white: #fff;
    /*----------Tonal----------*/
    /*--Blue--*/
    --blue-50: #F1F6FF;
    --blue-100: #DEE9FF;
    --blue-200: #84ADFF;
    --blue-300: #518BFF;
    --blue-400: #1E69FF;
    --blue-500: #004EEA;
    --blue-600: #04C;
    --blue-700: #003AAF;
    --blue-800: #003092;
    --blue-900: #001D57;
    /*--Neutral--*/
    --neutral-0: #EFF0FE;
    --neutral-50: #DFE1F7;
    --neutral-100: #C3C5DB;
    --neutral-200: #A7AABF;
    --neutral-300: #8D90A4;
    --neutral-400: #737689;
    --neutral-500: #5A5D70;
    --neutral-600: #4E5263;
    --neutral-700: #434657;
    --neutral-800: #373B4C;
    --neutral-900: #2C3041;
    /*----------Scheme----------*/
    --scheme-background: #FBFBFE;
    --scheme-main-text: #050315;
    --scheme-sub-text: #8D90A4;
    --scheme-primary: #004EEA;
    --scheme-secondary: #B7CFFF;
    --scheme-accent: #84ADFF;
    /*----------Feedback----------*/
    /*--Error--*/
    --feedback-error: #F04438;
    --feedback-on-error: #FEE4E2;
    /*--Warning--*/
    --feedback-warning: #FDB022;
    --feedback-on-warning: #FFEDCC;
    /*--Success--*/
    --feedback-success: #12B76A;
    --feedback-on-success: #D1FADF;
}

/*--Typography--*/
/*---------Font family---------*/
@font-face {
    font-family: bold-font;
    src: url("../../public/font/MonaSans-Bold.ttf");
}

@font-face {
    font-family: semibold-font;
    src: url("../../public/font/MonaSans-SemiBold.ttf");
}

@font-face {
    font-family: medium-font;
    src: url("../../public/font/MonaSans-Medium.ttf");
}

@font-face {
    font-family: regular-font;
    src: url("../../public/font/MonaSans-Regular.ttf");
}

/*---------Font family---------*/
/*---Heading---*/
h1, h2, h3, h4, h5, h6 {
    font-family: semibold-font;
}

/*---Generic---*/
.subtitle1, .subtitle2 {
    font-family: bold-font;
}

.title1, .title2, .title3 {
    font-family: medium-font;
}

.button1, .button2, .button3 {
    font-family: semibold-font;
}

/*---Body---*/
p, .p1, .p2, .p3 {
    font-family: regular-font;
}

.label1, .label2, .label3 {
    font-family: semibold-font;
}

.support {
    font-family: medium-font;
}

/*---------Font size---------*/

/*---Headline---*/
h1 {
    font-size: 72px;
    line-height: 120%;
}

h2 {
    font-size: 64px;
    line-height: 120%;
}

h3 {
    font-size: 56px;
    line-height: 120%;
}

h4 {
    font-size: 48px;
    line-height: 120%;
}

h5 {
    font-size: 36px;
    line-height: 120%;
}

h6 {
    font-size: 28px;
    line-height: 120%;
}

/*-- Generic --*/
.subtitle1 {
    font-size: 14px;
    line-height: 120%;
}

.subtitle2 {
    font-size: 12px;
    line-height: 14px;
}

.title1 {
    font-size: 18px;
    line-height: 20px;
}

.title2 {
    font-size: 16px;
    line-height: 18px;
}

.title3 {
    font-size: 14px;
    line-height: 16px;
}

.button1 {
    font-size: 18px;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
}

.button2 {
    font-size: 16px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
}

.button3 {
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
}

/*-- Body --*/
.p1 {
    font-size: 18px;
    line-height: 20px;
}

p, .p2 {
    font-size: 16px;
    line-height: 18px;
}

.p3 {
    font-size: 14px;
    line-height: 16px;
}

.label1 {
    font-size: 16px;
    line-height: 19px;
}

.label2 {
    font-size: 14px;
    line-height: 17px;
}

.label3 {
    font-size: 12px;
    line-height: 15px;
}

.support {
    font-size: 12px;
    line-height: 12px;
}

/*-- Color --*/

body {
    background-color: var(--scheme-background);
}

/*---------Button---------*/
/*--- Size ---*/
.btn-nm {
    font-size: 18px;
    line-height: 20px;
    padding: 16px;
    height: 56px;
    border-radius: 4px;
}

.btn-md {
    font-size: 16px;
    line-height: 18px;
    padding: 16px;
    height: 48px;
    border-radius: 4px;
}

.btn-sm {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 16px;
    height: 36px;
    border-radius: 4px;
}

/* Button hierarchy */
.prim-btn {
    background-color: var(--scheme-primary);
    color: var(--white);
    border: none;
    transition: background-color 0.3s ease;
}

.sec-btn {
    background-color: var(--scheme-secondary);
    color: var(--black);
    border: none;
    transition: background-color 0.3s ease;
}

.tert-btn {
    background-color: transparent;
    color: var(--black);
    border: 1.5px solid var(--black);
    transition: background-color 0.3s ease;
}

.link-nm {
    background: none;
    border: none;
    font-family: semibold-font;
    color: var(--scheme-primary);
    font-size: 18px;
    text-decoration: none;
}

.link-md {
    background: none;
    border: none;
    font-family: semibold-font;
    color: var(--scheme-primary);
    font-size: 16px;
    text-decoration: none;
}

.link-sm {
    background: none;
    border: none;
    font-family: semibold-font;
    color: var(--scheme-primary);
    font-size: 14px;
    text-decoration: none;
}

/*--- States ---*/
.prim-btn:hover {
    background: var(--blue-400);
    cursor: pointer;
}

.sec-btn:hover {
    background: var(--blue-200);
    cursor: pointer;
}

.tert-btn:hover {
    /* background: transparent; */
    /* same as default */
    /* color: var(--black); */
    /* same as default */
    cursor: pointer;
}

.btn-nm:disabled,
.btn-md:disabled,
.btn-sm:disabled {
    color: var(--neutral-300);
    background: var(--neutral-100);
    border: none;
}

.link-nm:hover, .link-md:hover, .link-sm:hover {
    color: var(--blue-900);
    cursor: pointer;
}

.link-disabled {
    color: var(--neutral-300) !important;
    cursor: default !important;
}

/*text with color*/

.text-black{
    color: var(--black)
}

.text-white{
    color: var(--black)
}

.text-scheme-main-text{
    color: var(--scheme-main-text)
}

.text-scheme-primary{
    color: var(--scheme-primary)
}

.text-scheme-sub-text{
    color: var(--scheme-sub-text)
}

.text-neutral-400{
    color: var(--neutral-400)
}

.text-neutral-50{
    color: var(--neutral-50)
}

/*background with color*/

.bg-black{
    background-color: var(--black)
}

.bg-neutral-50{
    background-color: var(--neutral-50)
}

.bg-blue-50{
    background-color: var(--blue-50)
}

.bg-blue-100{
    background-color: var(--blue-100)
}

/*border with color*/

.border-scheme-sub-text{
    border-color: var(--scheme-sub-text)
}

.border-scheme-primary{
    border-color: var(--scheme-primary)
}