@charset "utf-8";
@import url("../../styles/commons.css");

.author-card {
	position: relative;
    width: 290px;
    height: 358px;
    border-radius: 30px;
    background-color: var(--blue-50);
}

.author-card .author-card__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.author-card .author-card__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    box-sizing: border-box;
    position: absolute;
    padding: 16px 24px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 30px 30px;
}

.author-card__info__name {
    color: var(--white);
}

.author-card__info__bio {
    color: var(--white);
}

.author-card__info__tags {
	display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}

.author-card__info__tag {
    color: var(--white);
    padding: 8px;
	border: 1px solid var(--white);
    border-radius: 20px;
}