@charset "utf-8";
@import url("../../styles/commons.css");

.thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-container button{
    top: 0.5rem;
    right:1.1rem;
}

.thumbnail-container button:focus-within{
    border: none
}

.blog-post-card .long-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-post-card .content-text{
    -webkit-line-clamp: 2;
}

.blog-post-card .title-text{
    -webkit-line-clamp: 2;
    min-height: 4rem;
}

.blog-post-card a{
    text-decoration: none;
}

.blog-post-card .title-block{
    min-height: 8rem;
}

.blog-post-card .topic-block{
    min-height: 1.5rem;
}