@charset "utf-8";
@import url("../../styles/commons.css");

.blog-card {
    border-radius: 10px;
    background-color: var(--white);
}

.blog-card .topic-plain {
    color: var(--scheme-primary);
    text-transform: uppercase;
}

.blog-card .bookmark {
    color: var(--neutral-100);
    font-size: 18px;
}

.blog-card .center {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    max-height: 2.5em;
    line-height: 1.25em;    
}

.blog-card .author-name {
    color: var(--black);
}

.blog-card .post-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--scheme-sub-text);
}

.blog-card .post-title {
    height: 3.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.avatar {
    width: 32px !important;
    height: 32px  !important;
    border-radius: 50%;
}

.blog-card.home-guest {
    min-width: 100px;
    width: 32.3%;
    max-width: 100%;
}

@media screen and (max-width: 768px){
    .blog-card.home-guest {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .blog-card.home-guest {
        width: 49%;
    }
}

/*
.blog-card.horizontal.no-thumb .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-card.horizontal.no-thumb .bottom .bottom-left {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.blog-card.horizontal.no-thumb .bottom .bottom-left .info-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}





.blog-card.horizontal.no-thumb .bottom .bottom-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
*/
