@charset "utf-8";
@import url("../../styles/commons.css");

.blog-card-horizontal {
    border-radius: 10px;
}

.blog-card-horizontal .thumbnail-container{
    height: 15rem;
}

.blog-card-horizontal .thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-card-horizontal .long-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.blog-card-horizontal .long-text *{
    font-style: normal !important;
    font-weight: normal !important;
}

.blog-card-horizontal .content-text{
    -webkit-line-clamp: 5;
    height: 6rem;
    text-align: justify;
    text-justify: inter-word;
}

.blog-card-horizontal .title-text{
    -webkit-line-clamp: 2;
}

.blog-card-horizontal .bookmard-icon{
    margin-left: auto
}

.blog-card-horizontal.view-list {
    min-width: 300px;
    width: 49%;
    max-width: 49%;
}

@media screen and (min-width: 768px){
    .blog-card-horizontal.view-list {
        width: 100%;
    }
}