@charset "utf-8";
@import url("../../styles/commons.css");

.thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnail-container button{
    top: 0.5rem;
    right:1.1rem;
}

.thumbnail-container button:focus-within{
    border: none
}

.blog-post-card {
    width: 32%;
}

.blog-post-card .long-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-style: normal !important;
}

.blog-post-card .long-text *{
    font-style: normal !important;
    font-weight: normal !important;
}

.blog-post-card .content-text{
    text-align: justify;
    text-justify: inter-word;
    height: 2.8rem;
}

.blog-post-card .title-text{
    min-height: 4rem;
    height: 4rem;
}

.blog-post-card a{
    text-decoration: none;
}

.blog-post-card .title-block{
    min-height: 8rem;
}

.blog-post-card .topic-block{
    min-height: 1.5rem;
}

.blog-post-card .post-topic{
    text-transform: capitalize;
}