@charset "utf-8";
@import url("../../styles/commons.css");

.blog-post-card .thumbnail-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-post-card .thumbnail-container button{
    top: 0.5rem;
    right:1.1rem;
}

.blog-post-card .thumbnail-container button:focus-within{
    border: none
}

.blog-post-card {
    cursor: default;
}

.blog-post-card.library {
    min-width: 300px;
    width: 32%;
}

@media screen and (max-width: 768px){
    .blog-post-card.library {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px){
    .blog-post-card.library {
        width: 48%;
    }
}

.blog-post-card .long-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-style: normal !important;
}

.blog-post-card .content-text{
    text-align: justify;
    text-justify: inter-word;
    height: 4.3rem;
}

.blog-post-card .title-text{
    min-height: 2.2rem;
    height: 2.2rem;
}

.blog-post-card a{
    text-decoration: none;
}

.blog-post-card .title-block{
    min-height: 8rem;
    height: 8rem;
}

.blog-post-card .topic-block{
    min-height: 1.5rem;
}

.blog-post-card .post-topic{
    text-transform: capitalize;
}