<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/commons.css">
    <title>Document</title>
</head>
<body>
    <h6>PRIMARY BUTTON</h6>
    <button class="prim-btn btn-nm">BUTTON</button>
    <button class="prim-btn btn-md">BUTTON</button>
    <button class="prim-btn btn-sm">BUTTON</button>
    <h6>SECONDARY BUTTON</h6>
    <button class="sec-btn btn-nm">BUTTON</button>
    <button class="sec-btn btn-md">BUTTON</button>
    <button class="sec-btn btn-sm">BUTTON</button>
    <h6>TERTIARY BUTTON</h6>
    <button class="tert-btn btn-nm">BUTTON</button>
    <button class="tert-btn btn-md">BUTTON</button>
    <button class="tert-btn btn-sm">BUTTON</button>
    <h6>LINK</h6>
    <div><a href="#" class="link-nm">This is a link</a></div>
    <div><a href="#" class="link-md">This is a link</a></div>
    <div><a href="#" class="link-sm">This is a link</a></div>

    <h6>PRIMARY DISABLED BUTTON</h6>
    <button class="prim-btn btn-nm" disabled>BUTTON</button>
    <button class="prim-btn btn-md" disabled>BUTTON</button>
    <button class="prim-btn btn-sm" disabled>BUTTON</button>
    <h6>SECONDARY DISABLED BUTTON</h6>
    <button class="sec-btn btn-nm" disabled>BUTTON</button>
    <button class="sec-btn btn-md" disabled>BUTTON</button>
    <button class="sec-btn btn-sm" disabled>BUTTON</button>
    <h6>TERTIARY DISABLED BUTTON</h6>
    <button class="tert-btn btn-nm" disabled>BUTTON</button>
    <button class="tert-btn btn-md" disabled>BUTTON</button>
    <button class="tert-btn btn-sm" disabled>BUTTON</button>
    <h6>DISABLED LINK</h6>
    <div><a href="#" class="link-nm" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>
    <div><a href="#" class="link-md" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>
    <div><a href="#" class="link-sm" onclick="setLinkDisabled(this)">Click this link to disabled</a></div>

    <script src="./index.js"></script>
</body>
</html>