@charset "utf-8";
@import url("../../styles/commons.css");

.author-card {
	position: relative;
    width: 290px;
    height: 358px;
    border-radius: 30px;
    background-color: var(--blue-50);
}

.author-card .photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.author-card .info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;

    box-sizing: border-box;
    position: absolute;
    padding: 16px 24px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 0 0 30px 30px;
}

.author-card .name {
    color: var(--white);
}

.author-card .bio {
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}