@charset "utf-8";
@import url("../../styles/commons.css");

.author-horizontal{
    min-height: 6rem;
}
.author-horizontal .long-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}
